<div class="navbar-nav navbar">
  <div class="navbar-content">
    <div class="navbar-content-icon">
      <img
        class="navbar-content-icon-image"
        src="assets/brand-icon.svg"
        alt="error"
      />
    </div>
    <div class="navbar-content-menu">
      <div class="navbar-content-menu-list">
        <ul>
          <li>Home</li>
          <li>Series Movies</li>
          <li>Film</li>
          <li>New & Popular</li>
          <li>My List</li>
        </ul>
      </div>
    </div>
    <div class="navbar-content-action">
      <div class="navbar-content-action-list">
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
