$text-color: #e5e5e5;
$title-weight: 600;
$title-size: 22px;
$margin-size: 1rem;

$text-standard-weight: 400;
$text-standard-size: 16px;

.billboard {
  width: 100%;
  height: 56.25vw;
  position: absolute;
  top: 0;
  left: 0;
  &-image {
    width: 100%;
    height: 100%;
    &-holder {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
    }

    &-content {
      width: 30%;
      position: relative;
      top: 40%;
      left: 5%;
      z-index: 80;

      &-title {
        text-align: center;
        width: 100%;
        height: 20%;
        color: $text-color;
        font-size: $title-size;
        line-height: 24px;
        font-weight: $title-weight;
        margin-bottom: $margin-size;
      }

      &-desc {
        color: $text-color;
        font-size: $text-standard-size;
        line-height: 16px;
        font-weight: $text-standard-weight;
        width: 100%;
        margin-bottom: $margin-size;
      }

      &-button {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: $margin-size;
      }
    }
  }
}
